.header-wrapper {
    max-height: 112px;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 2;
}

.rn-navigation {
    padding: 10px 16px;
    @include flex;
    align-items: center;
    .rn-navigation-item {
        padding: 10px 8px;
        margin: .25em .0;
        &:first-child {
            margin-left: 20%;
        }
    }
    .rn-navigation-item-selected {
        display: inline-block;
        &::after {
            content: "";
            width: 100%;
            background: #fff;
            display: block;
            height: 2px;
            animation: fadeIn .5s ease-in;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    50% {
        opacity: .5;
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}