
.header--navigation {
    @include flex; 
    align-items: center;
    max-height: 35px;
    background-color: rgb(48, 145, 201);
    padding: 10px;

    li {
        margin: 5px;
        list-style-type: none;
        color: #fff;
    }  
}