div.header-top-information {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    p {
        color: #fff;
        font-size: 1.2em;
        &:last-child {
            font-size: 1.7em;
            font-weight: bold;
        }
    }

}
