
.sidemenu{
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    .sidemenu--container {
        min-height: 100%;
        background: $secodary-dark;
        display: flex;
        box-sizing: border-box;
        flex-flow: wrap;
        flex-direction: column;
        transform:  translateX(-174px);
        transition: transform .3s cubic-bezier(0.7, 0.05, 0.35, 0.03);
        .sidemenu--logo {
            display: block;
            position: relative;
            width: 100%;
            margin: 5%;
            img {
                width: 150px;
                height: 45px;
            }
        }
        .sidemenu--inner {
            margin-top: 10.5vh;
            display: block;
            z-index: 2;
            height: calc(100vh - 180px);
            .sidemenu-inner-items {
                display: flex;
                flex-direction: column;
                margin: auto 0;
                flex: 1;
                .sidemenu-list-items {
                    display: flex;
                    width: 214px;
                    flex-direction: column;
                    justify-content: center;
                    height: 100%;
                    overflow-y: auto;
                    .sidemenu--item{
                        padding: 12px;
                        margin: .39em .0;
                        display: flex;
                        width: 100%;
                        align-items: center;
                        a
                        ,span.material-icons {
                            color: contrast-color-theme($secodary-dark);
                        }
                        a {
                            font-size: 1.1em;
                            width: 100%;
                            padding: 10px;
                            margin: .15em .19em;
                            animation: fadeIn .3s linear .5s;
                        }
                        &:hover {
                            background: #fff;
                            color: contrast-color-theme(#ffffff);
                            a,
                            span.material-icons {
                                color:  contrast-color-theme(#ffffff);
                            }

                        }
                    }
                }
                }
            }
        }
    .sidemenu--container-effect {
            transform: translateX(0);
    }
}