.rn-button {
    min-width: 64px;
    line-height: 34px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border-radius: 8px;
}
.rn-button-primary {
    background: $primary;
    border: 1px solid $primary;
}
.rn-button-secondary {
    background: $secodary;
    border: 1px solid $secodary;
}
.rn-button-secondary-dark {
    background: $secodary-dark;
    border: 1px solid $secodary-dark;
}
.rn-button .rn-button-clear, .rn-button-outline {
    background: transparent;
}
.rn-button .rn-button-outline span, a {
    color: #000;
}
button.rn-button {
    border-radius: 4px;
    margin: 0;
    padding: 8px 16px;    
}
//box-shadow: 2px 1px 6px rgba(0,0,0,.4);

.rn-button-primary-dark
,.rn-button-secondary
,.rn-button-secondary-dark
,.rn-button .rn-button-primary a
,.rn-button .rn-button-primary button
,.rn-button .rn-button-primary button span {
    color: #fff !important;
}

.ripple {
    background-position: center;
    transition: background 0.8s;
}
.ripple-primary:hover {
    background: #ececec radial-gradient(circle, transparent 1%, #ececec 1%) center/15000%;    
}
.ripple-secondary:hover {
    background: $app-theme radial-gradient(circle, transparent 1%, $app-theme 1%) center/15000%;    
}
.ripple:active {
    background-color: #ccc;
    transition: background 0s;
    background-size: 100%; 
}
