
.content-wrapper {
    overflow-y: auto; 
    position: relative;
    box-sizing: border-box;
    margin-top: 20px;
}
.header-wrapper,
nav.rn-navigation,
.--footer {
    background-color: $app-theme;
    color: contrast-color-theme($app-theme);
}
/**SHADOW */
.rn-shadow {
    box-shadow: 0px 1px 4px 5px rgba(0, 0, 0, 0.4), 0px -1px 30px -4px rgba(0, 0, 0, 0.14), 0px -6px 10px 0px rgba(0, 0, 0, 0.18);
}
div.sidemenu--container div.sidemenu--inner {
    padding: 10px;
}
#root {
    margin: 0;
}