.rn-card {
    max-height: 510px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border-radius: 5px;
    width: 350px;
    padding: 10px;
}
.rn-card-header {
    max-height: 72px;
    overflow: hidden;
    .rn-card-header-title {
        line-height: 34px;
        font-weight: bold;
        font-size: 1.6rem;
    }
    .nr-card-image {
        height: 194px;
        width: 100%;
    }
}