
.content {    
    position: absolute;
    left: 0;
    right: 2%;
    top: 58px;
    bottom: 0;
}
.content .content-wrapper {
    position: relative;
    display: inline-block;
    width: 98%;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
}
nav.header--navigation {
    background-color: $secodary-dark;
    color: contrast-color-theme($primary);
}
.--footer
,nav.header--navigation
,div.sidemenu--container div.sidemenu--inner {
    background-color: $secodary-dark;
}
div.sidemenu--container div.sidemenu--inner {
    
    padding: 10px;
}