:-webkit-any-link {
    text-decoration: none;
    color: #fff;
}
button {
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    background: transparent;
    font-family: sans-serif;
    font-size: 1rem;
    text-align: center;
    text-indent: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
}
